
@{
}



<div class="my-3">
    <h4>Användaradmin</h4>
    <a asp-page="/Admin/UserAdmin/Roles">Roller</a>
    <br />
    <a asp-page="/Admin/UserAdmin/Users">Användare</a>
</div>

<div class="my-3">
    <h4>Forumadmin</h4>
    <a asp-page="/Admin/ForumAdmin/index">Ämnen</a>
    <br />
    <a asp-page="/Admin/ForumAdmin/offensiveposts">Anmälda inlägg</a>
    <br />
    <a asp-page="/Admin/OffensiveWordsAdmin/index">Förbjudna ord</a>
</div>
