@page
@model PrivacyModel
@{
    ViewData["Title"] = "Användarvillkor";
}
<h2>@ViewData["Title"]</h2>


<p class="pt-5">
    Hemsidan använder cookies för att hålla reda på om du är inloggad.
</p>
<p>
    Snackis sparar personlig data, du kan när som helst ladda ned, ändra eller radera din personliga data inklusive eventuell användarbild
    om den inte används av någon annan.
    <br />
    När du raderar dina personliga data avslutas ditt konto men inlägg och bifogade bilder i forumet raderas inte eftersom det skulle
    förstöra innehållet och förståelsen av diskussionerna som förs och förts i de olika trådarna, avsändaren kommer 
    dock att bli avidentifierad.
</p>


<p>
    Som användare godkänner du användarvillkoren och kommer ej att publicera material som strider mot villkoren eller svensk lag.
    Olämpliga ord i inlägg och på din personliga infosida döljs automatiskt. Snackis har rätt att bestämma vilka ord som skall 
    anses vara olämpliga.
</p>


<p>
    Snackis tar inget ansvar för användandet av funktionen "Privata meddelanden" och har ingen möjlighet att granska eller ställa
    någon till svars för innehållet i de meddelanden som skickas mellan medlemmarna privat.
</p>


<p>
    För att du ska kunna använda den här tjänsten måste Snackis behandla vissa personuppgifter. Behandlingen av personuppgifterna sker
    i enlighet med GDPR. Genom att du registrerar dig som medlem samtycker du till att Snackis får behandla dina personuppgifter i enlighet
    med de ändamål som anges nedan. Om du inte samtycker till behandling av dina personuppgifter får du inte använda tjänsten och
    vi ber dig därför att inte registrera dig.
    <br />
    <br />
    Dina personuppgifter kommer att behandlas och lagras för följande ändamål:
    <br />
    - Inloggning och anslutning till respektive användarkonto.
</p>

<p>
    Brott mot användarvillkor eller missbruk av våra tjänster innebär att Snackis har rätt att stänga av och/eller radera medlemmens
    konto utan förvarning.
    <br />
    Snackis gör ingen förhandskontroll eller censur av den information som görs tillgänglig på Snackis. Du svarar själv för det du publicerar.
    Snackis ansvarar inte för något innehåll som du skapar eller lägger ut på tjänsten. Du som medverkar genom ditt medlemskap ansvarar
    själv för innehållet och du kan alltså ställas till svars för detta.
    <br />
    Den information du lägger ut vid användandet av tjänsten, i form av text och bilder skall vara på svenska, engelska eller de nordiska
    språken och får inte strida mot användarvillkoren eller svensk lag.
    <br />
    <br />
    Informationen som läggs in vid användandet av tjänsten får t.ex. inte innehålla eller omfatta något av följande:
    <br />
    - Diskriminering.
    <br />
    - Kränkningar eller hot mot personer eller grupper av personer, obsceniteter eller stötande material eller annat oförenligt med god nätetikett.
    <br />
    - Brottslig verksamhet eller uppmaning till brott.
    <br />
    - Brott mot tystnadsplikt.
    <br />
    - Våldsskildring, barnpornografi eller annan pornografi.
    <br />
    - Utpekande av andra personer som brottsliga eller annat förtal.
    <br />
    - Brott mot GDPR. Intrång i annans privatliv såsom adresser, telefonnummer och e-postadresser.
    <br />
    - Reklam för kommersiella produkter, tjänster eller företag. Med reklam avses i detta fall inte omnämnande av produkter, tjänster
    eller företag inom trädgårdsbranschen i forumets trädgårdsavdelningar när ett omnämnande är relevant för en pågående diskussion.
    Vid tveksamma fall för vad som kan räknas som "relevant för en pågående diskussion" har Snackis full beslutanderätt.
    <br />
    - Information eller reklam om pyramidspel, piratkopiering, kabel/satellit/tv-hack.
    <br />
    - Material som är skyddat av copyright om denna inte ägs av dig själv eller Snackis.
    <br />
    <br />
    Snackis har möjlighet att radera material som bryter mot användarvillkoren och kommer om det visar sig vara nödvändigt att göra detta så fort som
    möjligt efter att det har kommit till vår kännedom.
    <br />
    <br />
    Snackis har rätt att i efterhand granska all information som läggs ut i forumet samt ta bort information, inlägg eller bilder som
    strider mot användarvillkoren.
    <br />
    <br />
    När Snackis raderar ett inlägg på grund av olämpligt innehåll kommer även efterföljande inlägg i samma tråd raderas.
</p>

