@page
@model SnackisApp.Pages.GM.CreateGroupModel

@{
    var selectMembers = new SelectList(Model.UserNames);
}


<h4>Skapa grupp</h4>

<div class="col">
    <form method="post">

        <div class="form-group">
            <label asp-for="Group.Name"></label>
            <input asp-for="Group.Name" class="form-control" />
            <span asp-validation-for="Group.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select class="form-control" multiple asp-for="MemberNames" asp-items="selectMembers">
                @*<option value=""></option>*@
            </select>
            <span asp-validation-for="MemberNames" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Spara" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

