@page
@model SnackisApp.Pages.GM.EditGroupModel

@using Microsoft.AspNetCore.Identity;
@using Areas.Identity.Data;
@using SnackisApp.Data;


@inject UserManager<SnackisUser> _userManager;
@inject SnackisContext _context;


@{
    SnackisUser currentUser = await _userManager.GetUserAsync(User);
    var selectNewMembers = new SelectList(Model.NotInGroupNames);
    var members = new SelectList(Model.MemberNames);
}


<h5 class="py-3">@Model.SelectedGroup.Name</h5>

@if (Model.SelectedGroup.UserId != currentUser.Id)
{
    <h6 class="pt-3">Du har inte rättighet att ändra den här gruppen</h6>
}

else
{
    <h6>Lägg till medlemmar</h6>
    <div class="col">
        <form method="post">
            <div class="form-group">
                <select class="form-control" multiple asp-for="AddMemberNames" asp-items="selectNewMembers">
                    @*<option value=""></option>*@
                </select>
                <span asp-validation-for="AddMemberNames" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary" />
            </div>
        </form>
        <a href="./index">Tillbaka</a>
    </div>

    <br />

    <h6>Ta bort medlemmar</h6>
    <div class="col">
        <form method="post">
            <div class="form-group">
                <select class="form-control" multiple asp-for="DeleteMemberNames" asp-items="members">
                    @*<option value=""></option>*@
                </select>
                <span asp-validation-for="DeleteMemberNames" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Ta bort" class="btn btn-primary" />
            </div>
        </form>
        <a href="./index">Tillbaka</a>
    </div>
}